<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>T</key>
	<array>
		<dict>
			<key>name</key>
			<string>田玉龙</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>看书</string>
			<key>phoneNumber</key>
			<string>15652630323</string>
			<key>picture</key>
			<string>田玉龙.jpg</string>
		</dict>
	</array>
	<key>H</key>
	<array>
		<dict>
			<key>name</key>
			<string>何梦莹</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>21</string>
			<key>hobby</key>
			<string>旅游</string>
			<key>phoneNumber</key>
			<string>13120137699</string>
			<key>picture</key>
			<string>何梦莹.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>郝云</string>
			<key>age</key>
			<string>25</string>
			<key>hobby</key>
			<string>购物</string>
			<key>gender</key>
			<string>女</string>
			<key>phoneNumber</key>
			<string>18202611296</string>
			<key>picture</key>
			<string>郝云.jpg</string>
		</dict>
	</array>
	<key>X</key>
	<array>
		<dict>
			<key>name</key>
			<string>徐晓伦</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>21</string>
			<key>hobby</key>
			<string>敲代码</string>
			<key>phoneNumber</key>
			<string>15110209713</string>
			<key>picture</key>
			<string>徐晓伦.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>徐志超</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>phoneNumber</key>
			<string>18500852826</string>
			<key>hobby</key>
			<string>足球</string>
			<key>picture</key>
			<string>徐志超.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>解周蒙</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>21</string>
			<key>phoneNumber</key>
			<string>18611130273</string>
			<key>hobby</key>
			<string>舌尖上的中国</string>
			<key>picture</key>
			<string>解周蒙.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>谢廷</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>hobby</key>
			<string>游戏</string>
			<key>phoneNumber</key>
			<string>15324955151</string>
			<key>picture</key>
			<string>谢廷.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>徐海鹏</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>25</string>
			<key>hobby</key>
			<string>听歌</string>
			<key>phoneNumber</key>
			<string>15290896503</string>
			<key>picture</key>
			<string>徐海鹏.jpg</string>
		</dict>
	</array>
	<key>S</key>
	<array>
		<dict>
			<key>name</key>
			<string>司亚冰</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>26</string>
			<key>hobby</key>
			<string>小说</string>
			<key>phoneNumber</key>
			<string>15981839199</string>
			<key>picture</key>
			<string>司亚冰.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>孙乐</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>21</string>
			<key>hobby</key>
			<string>LOL,吃,打乒乓球,美女</string>
			<key>phoneNumber</key>
			<string>18911165229</string>
			<key>picture</key>
			<string>孙乐.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>申洋洋</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>hobby</key>
			<string>小米粥</string>
			<key>phoneNumber</key>
			<string>18728156973</string>
			<key>picture</key>
			<string>申洋洋.jpg</string>
		</dict>
	</array>
	<key>J</key>
	<array>
		<dict>
			<key>picture</key>
			<string>贾小旭.jpg</string>
			<key>hobby</key>
			<string>音乐</string>
			<key>phoneNumber</key>
			<string>12345678910</string>
			<key>age</key>
			<string>22</string>
			<key>gender</key>
			<string>女</string>
			<key>name</key>
			<string>贾小旭</string>
		</dict>
	</array>
	<key>D</key>
	<array>
		<dict>
			<key>name</key>
			<string>杜浩然</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>hobby</key>
			<string>爬山,旅游,看电影</string>
			<key>phoneNumber</key>
			<string>18610402841</string>
			<key>picture</key>
			<string>杜浩然.jpg</string>
		</dict>
		<dict>
			<key>picture</key>
			<string>丁维.jpg</string>
			<key>hobby</key>
			<string>玩</string>
			<key>phoneNumber</key>
			<string>18652352725</string>
			<key>age</key>
			<string>24</string>
			<key>gender</key>
			<string>男</string>
			<key>name</key>
			<string>丁维</string>
		</dict>
	</array>
	<key>N</key>
	<array>
		<dict>
			<key>name</key>
			<string>牛志权</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>phoneNumber</key>
			<string>15652346423</string>
			<key>hobby</key>
			<string>篮球   (目前还单身 学妹们请加微信 iwantacoolhairstyle)</string>
			<key>picture</key>
			<string>牛志权.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>聂海丽</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>23</string>
			<key>hobby</key>
			<string>吃</string>
			<key>phoneNumber</key>
			<string>15010662872</string>
			<key>picture</key>
			<string>聂海丽.jpg</string>
		</dict>
	</array>
	<key>G</key>
	<array>
		<dict>
			<key>picture</key>
			<string>高山峰.jpg</string>
			<key>hobby</key>
			<string>美女，宝车</string>
			<key>phoneNumber</key>
			<string>15001136980</string>
			<key>age</key>
			<string>24</string>
			<key>gender</key>
			<string>男</string>
			<key>name</key>
			<string>高山峰</string>
		</dict>
		<dict>
			<key>name</key>
			<string>郭建</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>21</string>
			<key>hobby</key>
			<string>lol</string>
			<key>phoneNumber</key>
			<string>13126933629</string>
			<key>picture</key>
			<string>郭建.jpg</string>
		</dict>
	</array>
	<key>C</key>
	<array>
		<dict>
			<key>name</key>
			<string>程登伟</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>cf</string>
			<key>phoneNumber</key>
			<string>18511297268</string>
			<key>picture</key>
			<string>程登伟.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>褚子铭</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>20</string>
			<key>hobby</key>
			<string>游戏</string>
			<key>phoneNumber</key>
			<string>15801167321</string>
			<key>picture</key>
			<string>褚子铭.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>陈超众</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>hobby</key>
			<string>篮球,健身,美剧</string>
			<key>phoneNumber</key>
			<string>18686774364</string>
			<key>picture</key>
			<string>陈超众.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>蔡玉成 </string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>25</string>
			<key>hobby</key>
			<string>看电影</string>
			<key>phoneNumber</key>
			<string>18511535323</string>
			<key>picture</key>
			<string>蔡玉成 .jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>陈凯</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>26</string>
			<key>hobby</key>
			<string>xcode：X码</string>
			<key>phoneNumber</key>
			<string>15354147488</string>
			<key>picture</key>
			<string>陈凯.jpg</string>
		</dict>
	</array>
	<key>W</key>
	<array>
		<dict>
			<key>name</key>
			<string>王仰锴</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>看别人捡肥皂</string>
			<key>phoneNumber</key>
			<string>15137137383</string>
			<key>picture</key>
			<string>王仰锴.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王金宝</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>15244644224</string>
			<key>hobby</key>
			<string>LOL</string>
			<key>picture</key>
			<string>王金宝.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王乐田</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>hobby</key>
			<string>游戏</string>
			<key>phoneNumber</key>
			<string>15936551136</string>
			<key>picture</key>
			<string>王乐田.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王博</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>hobby</key>
			<string>游戏</string>
			<key>phoneNumber</key>
			<string>18910351764</string>
			<key>picture</key>
			<string>王博.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>武进帅</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>27</string>
			<key>hobby</key>
			<string>骑着太子 旅行 摄影</string>
			<key>phoneNumber</key>
			<string>18911604144</string>
			<key>picture</key>
			<string>武进帅.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王晓东</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>hobby</key>
			<string>火影</string>
			<key>phoneNumber</key>
			<string>13381092528</string>
			<key>picture</key>
			<string>王晓东.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王翔</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>LOL 小提琴</string>
			<key>phoneNumber</key>
			<string>18698607201</string>
			<key>picture</key>
			<string>王翔.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王金宇</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>25</string>
			<key>hobby</key>
			<string>打篮球，游泳，踢足球，爱美女</string>
			<key>phoneNumber</key>
			<string>18600127824</string>
			<key>picture</key>
			<string>王金宇.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王子毓</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>20</string>
			<key>hobby</key>
			<string>看篮球，看足球，看大象</string>
			<key>phoneNumber</key>
			<string>13521365450</string>
			<key>picture</key>
			<string>王子毓.jpg</string>
		</dict>
	</array>
	<key>Z</key>
	<array>
		<dict>
			<key>name</key>
			<string>赵国栋</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>看书</string>
			<key>phoneNumber</key>
			<string>15670556973</string>
			<key>picture</key>
			<string>赵国栋.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>赵烨</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>23</string>
			<key>hobby</key>
			<string>旅游</string>
			<key>phoneNumber</key>
			<string>13598687261</string>
			<key>picture</key>
			<string>赵烨.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张晓旭</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>26</string>
			<key>hobby</key>
			<string>篮球,唱歌</string>
			<key>phoneNumber</key>
			<string>110</string>
			<key>picture</key>
			<string>张晓旭.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>周群</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>26</string>
			<key>hobby</key>
			<string>台球</string>
			<key>phoneNumber</key>
			<string>15811249426</string>
			<key>picture</key>
			<string>周群.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张宝印</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>lol</string>
			<key>phoneNumber</key>
			<string>13693349673</string>
			<key>picture</key>
			<string>张宝印.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张凯杰</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>phoneNumber</key>
			<string>18515219349</string>
			<key>hobby</key>
			<string>吃饭</string>
			<key>picture</key>
			<string>张凯杰.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>臧彦楠</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>21</string>
			<key>phoneNumber</key>
			<string>13736000289</string>
			<key>hobby</key>
			<string>吃饭</string>
			<key>picture</key>
			<string>臧彦楠.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张德明</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>游戏</string>
			<key>phoneNumber</key>
			<string>13121254717</string>
			<key>picture</key>
			<string>张德明.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>周永清</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>hobby</key>
			<string>轮滑, 羽毛球, 骑行</string>
			<key>phoneNumber</key>
			<string>15221340875</string>
			<key>picture</key>
			<string>周永清.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张强</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>hobby</key>
			<string>女流氓</string>
			<key>phoneNumber</key>
			<string>13131311333</string>
			<key>picture</key>
			<string>张强.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张传卫</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>hobby</key>
			<string>女流氓</string>
			<key>phoneNumber</key>
			<string>18240246696</string>
			<key>picture</key>
			<string>张传卫.jpg</string>
		</dict>
	</array>
	<key>P</key>
	<array>
		<dict>
			<key>name</key>
			<string>潘志健</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>不详</string>
			<key>phoneNumber</key>
			<string>15307034629</string>
			<key>picture</key>
			<string>潘志健.jpg</string>
		</dict>
	</array>
	<key>Y</key>
	<array>
		<dict>
			<key>name</key>
			<string>姚志会</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>26</string>
			<key>hobby</key>
			<string>篮球,玩</string>
			<key>phoneNumber</key>
			<string>18600121656</string>
			<key>picture</key>
			<string>姚志会.jpg</string>
		</dict>
		<dict>
			<key>picture</key>
			<string>杨凯强.jpg</string>
			<key>hobby</key>
			<string>咖啡</string>
			<key>phoneNumber</key>
			<string>18511185641</string>
			<key>age</key>
			<string>23</string>
			<key>gender</key>
			<string>男</string>
			<key>name</key>
			<string>杨凯强</string>
		</dict>
		<dict>
			<key>picture</key>
			<string>袁崇.jpg</string>
			<key>phoneNumber</key>
			<string>110120119438</string>
			<key>age</key>
			<string>20</string>
			<key>gender</key>
			<string>女</string>
			<key>name</key>
			<string>袁崇</string>
		</dict>
		<dict>
			<key>picture</key>
			<string>袁东.jpg</string>
			<key>hobby</key>
			<string>电影</string>
			<key>phoneNumber</key>
			<string>18210524526</string>
			<key>age</key>
			<string>23</string>
			<key>gender</key>
			<string>男</string>
			<key>name</key>
			<string>袁东</string>
		</dict>
		<dict>
			<key>name</key>
			<string>岳皓</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>25</string>
			<key>hobby</key>
			<string>打篮球</string>
			<key>phoneNumber</key>
			<string>18991217301</string>
			<key>picture</key>
			<string>岳皓.jpg</string>
		</dict>
	</array>
	<key>L</key>
	<array>
		<dict>
			<key>name</key>
			<string>李长松</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>25</string>
			<key>hobby</key>
			<string>听音乐，敲代码，玩游戏，锻炼，吉他</string>
			<key>phoneNumber</key>
			<string>13121589357</string>
			<key>picture</key>
			<string>李长松.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李海强</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>21</string>
			<key>hobby</key>
			<string>看书</string>
			<key>phoneNumber</key>
			<string>15600337467</string>
			<key>picture</key>
			<string>李海强.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李青楠</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>hobby</key>
			<string>踢篮球,打足球</string>
			<key>phoneNumber</key>
			<string>15846437894</string>
			<key>picture</key>
			<string>李青楠.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李晓</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>各种电影 美英日韩泰剧  美女</string>
			<key>phoneNumber</key>
			<string>18811346384</string>
			<key>picture</key>
			<string>李晓.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李青海</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>hobby</key>
			<string>女孩,dota,看电影,各种娱乐活动</string>
			<key>phoneNumber</key>
			<string>18663082465</string>
			<key>picture</key>
			<string>李青海.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>罗文彬</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>26</string>
			<key>hobby</key>
			<string>读书,电视剧</string>
			<key>phoneNumber</key>
			<string>18511085556</string>
			<key>picture</key>
			<string>罗文彬.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘子慎</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>27</string>
			<key>hobby</key>
			<string>旅游</string>
			<key>phoneNumber</key>
			<string>15620060650</string>
			<key>picture</key>
			<string>刘子慎.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李挺</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>hobby</key>
			<string>睡觉  LOL</string>
			<key>phoneNumber</key>
			<string>13126859931</string>
			<key>picture</key>
			<string>李挺.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>廖艺斌</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>26</string>
			<key>hobby</key>
			<string>玩游戏</string>
			<key>phoneNumber</key>
			<string>13267078833</string>
			<key>picture</key>
			<string>廖艺斌.jpg</string>
		</dict>
	</array>
</dict>
</plist>
